.home-header{
  width:100%;
  height: 56px;
  position: fixed;
  background: black;
  img{
    width:40%;
    margin-top:5px;
    margin-left:5px;
  }
  i{
    color:#ffffff;
    float:right;
    margin-top:18px;
    margin-right:15px;
  }
  .header-course{
    list-style: none;
    position: fixed;
    top:56px;
    width:100%;
    left:0;
    li{
      width:100%;
      height:50px;
      line-height: 50px;
      text-align: center;
      border-top:1px solid #ffffff;
      background: black;
      color:white;
    }
  }
}